doctype html
html
  head
    title Computer Systems Engineering - Super Awesome University
    link(rel='stylesheet', href='css/style.css')
  body
    h1 Super Awesome University
    h2 Computer Systems Engineering

    section
      h2 Location
      p The university is situated in a state-of-the-art campus that fosters innovation and collaboration.

    section
      h2 About
      ul
        li Learn advanced computer hardware and software design.
        li Engage in real-world problem-solving with cutting-edge technology.
        li Prepare for an exciting career in technology and engineering fields.

    section
      h2 Things to Do
      p Explore these exciting opportunities:
      ul
        li Attend workshops and netwroking events 
        li Explore research opportunities 
        li Join student organizations 
        li Build robots in our top-notch labs.
        li Collaborate on IoT projects.
        li Participate in national hackathons.

        img(src="C:\Users\Pearl Bless\Documents\Repos\p5-group-final-project-2\image\campus.jpg" alt="University Campus")
        img(src="image\major.jpg" alt="Cool projects in Major") 

    section
      h2 Comments
      if comments && comments.length > 0
        ul
          each comment in comments
            li= comment
      else
        p No comments available.
    
      form(action=" /add-comment" method="POST")
        label(for="comment") Add a Comment:
        input(type="text" id="comment" name="comment" required)
        button(type="submit") Submit

    footer
      p &copy; 2024 Super Awesome University
