doctype html
link(rel='stylesheet' href='css/student1.css')

head
    title Cybersecurity
body
    h1 Jeremiah Robinson
    h2 Cybersecurity

    section
        h2 Location 
        p Slope Point, New Zealand
        img(src='img/student1/slopepoint.png', alt="Slope Point, New Zealand", title='Slope Point')
    
    section 
        h2 About 
        section 
            h3 Thing 1
            p gaesgagaesga 
        section 
            h3 Thing 2
            p asgioinwiosegn 
        section 
            h3 Thing 3
            p asgijwasoign
        img(src='img/student1/schoolhouse.jpg', alt="University", title='Slope Point University')
    
    section 
        h2 Things to Do 
        ul 
            li sdoigfjansoignsae 
            li slkanjfaosidnfsda 
            li paowefpoewjfwafe 
            li oiweajnfwpijfoien
    
    section
        h2 Comments
        form(action='/', method='POST')
            input(type='text', name='author', placeholder='Enter your name (optional)')
            input(type='text', name='comment', placeholder='Enter a comment', required=true)
            button(type='submit') Submit
        if comments && comments.length
            each comment in comments
                div.comment
                    p.author= comment.author
                    p.comment= comment.comment
                    p.timestamp= comment.timestamp
        else
            p No comments yet.
            